#jinja2: lstrip_blocks: "True"
# {{ ansible_managed }}
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin:{{ restic_install_path }}
RESTIC_REPOSITORY="{{ item.url }}"
RESTIC_PASSWORD="{{ item.password }}"
{% for k,v in item.remote_credentials.items() %}
export {{ k | upper }}={{ v }}
{% endfor %}